.greeting-container {
    text-align: left;
    margin: 0;
    padding: 0;
    background: url("https://static.vecteezy.com/system/resources/previews/017/552/032/non_2x/veterinarian-female-dog-and-cat-medicine-hospital-pet-doctor-nurse-health-care-clinic-concept-isolated-flat-cartoon-illustration-vector.jpg") center top / cover no-repeat;
    color: #fff;
    height: 89.5vh;
  }
  
  .greeting-container h1 {
    padding-top: 200px;
    font-size: 3em;
    margin-bottom: 20px;
    width: 40rem;
  }
  .greeting-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #850E35;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: 100px;
    margin-top:50px;
  }
  